@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100vw;
  background-color: #454545;
  color: #fffaf2;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
p,
a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
span {
  display: inline-block;
}

.purple {
  color: #8966b5;
}

.peach {
  color: #ff8e73;
}

.teal {
  color: #33a7b2;
}

.pad-left-8 {
  padding-left: 8%;
}

.fa-brands,
.fa-solid {
  color: #fffaf2;
  /* cursor: pointer; */
}

/* ###### Navigation ##### */
.side-nav {
  background-color: #363636;
  overflow-x: hidden;
  position: fixed;

  /*--Sizing--*/
  height: 95vh;
  width: 230px;
  padding: 25px 10px;

  /*--Flex--*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* z-index: 1; */
}

.border-gradient {
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(193deg, #ff8e73 0%, #b488ea 100%);
}

.right-border {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}

.bottom-border {
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.side-nav img {
  width: 188px;
  height: auto;
  margin: 0 auto;
}

#side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#side-menu img {
  width: 75%;
  height: auto;
  margin: 0 auto;
}

#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  padding: 40px 0 20px;
  gap: 13px;
}

#nav-links a {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #fffaf2;
  text-transform: uppercase;
  text-decoration: none;
}

#menu-social {
  display: flex;
  justify-content: space-around;
  padding: 20px 30px;
}

/* +++++ MOBILE Nav+++++++ */

.mobile-nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #454545;
  min-height: 70px;
  position: fixed;
  justify-content: space-between;
  padding-left: 20px;
  visibility: hidden; /* change for showing */
}

#jm-nav-img {
  height: 62px;
  width: auto;
  align-self: flex-end;
}

#mobile-nav-logo {
  height: 42px;
  width: auto;
  padding-right: 6vw;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0vw; /* Change 0 - 100vw to hide */
  height: 100vh;
  background-color: rgba(54, 54, 54, 0.99);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.open {
  width: 100vw;
}

#overlay-top {
  display: flex;
  max-width: 834px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
}

#overlay-top img {
  height: 40px;
}

#overlay-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 30vh; */
  /* padding: 40px 0 20px; */
  gap: 30px;
  align-items: center;
}

#overlay-nav-links a {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: #fffaf2;
  text-transform: uppercase;
  text-decoration: none;
}

#overlay-bottom {
  padding-bottom: 40px;
  max-width: 375px;
  width: 100%;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ######### END NAVIGATION ####*/

/* ######### MAIN CONTENT ##########*/

#main-container {
  border: 2px dotted red;
  margin-left: 255px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* +++++ HERO Section ++++++ */
#hero {
  background-color: #454545;
  max-width: fit-content;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hero-content {
  padding-top: 150px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-size: 6vw; /*VW instead? - Change in MediaQuery*/
  text-transform: uppercase;
  line-height: 91%;
  margin: 0;
}

.hero-subtitle {
  font-size: 23px;
  padding-right: 4.5%;
  width: 65vw;
}

.hero-title .highlight {
  color: #33a7b2;
}

.hero-title .highlight-underline {
  box-shadow: inset 0 -0.25em #33a7b2;
}
/* --- Accolades --*/
#accolades {
  display: flex;
  /* position: absolute;
  bottom: 100px; */
  column-gap: 40px;
  flex-wrap: wrap;
  /* border: 1px red solid; */
}

.solo-accolade {
  display: flex;
  width: fit-content;
  height: 100px;
  align-items: center;
  column-gap: 15px;
  padding-bottom: 15px;
  /* border: 1px red dotted; */
}

.solo-accolade h2 {
  font-size: 65px;

  /* text-decoration: line-through; */
}

.solo-accolade p {
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  vertical-align: middle;
  /* text-decoration: line-through; */
}

/* --- Scroll --*/
#hero-scroll {
  height: 80px;
  width: 100%;
  background-color: #8966b5;
  /* position: absolute;
  bottom: 0; */
  left: 255px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-transform: uppercase;
  overflow: hidden;
}

#hero-scroll h2 span {
  padding: 0 40px;
}

#hero-scroll h2 {
  white-space: nowrap;
}

/* +++++ END HERO Section ++++++ */

/* +++++ SERVICES Section ++++++ */
#services {
  width: 100%;
  height: auto;
  text-align: left;
  margin: 100px 0 50px;
}

#services-row {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  max-width: 70vw;
}

.service-card {
  width: 300px;
  /* height: 345px; */
  border-radius: 0px 0px 45px 0px;
  border: 4px solid #fffaf2;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  padding: 40px 25px 0px;
  gap: 22px;
}

.service-card h2 {
  padding-top: 20px;
  margin: 0;
  text-align: center;
}

.service-card p {
  text-align: center;
  font-size: 18px;
}

.service-card .fa-solid {
  font-size: 4em;
  /* padding: 40px 0 20px; */
}
/* ######## FOOTER ############ */
footer {
  border: 2px solid red;
  max-width: 1440px;
  margin-left: 255px;
  width: 100vw;
  text-align: center;
}

/* Break Points 

Over 1024 - Side Nav - Main Content Margin Left Adjusted
Under 1024 - Top Nav - Main Content Left Adjusted
           - */

@media screen and (max-width: 992px) {
  .pad-left-8 {
    padding-left: 20px;
  }
  .mobile-nav {
    visibility: visible;
  }

  .side-nav {
    visibility: hidden;
  }

  #main-container,
  footer {
    margin-left: 0;
  }

  .hero-title {
    font-size: 9vw;
  }

  .hero-subtitle {
    font-size: 18px;
    width: 90vw;
  }

  #hero-scroll {
    left: 0;
  }
}

@media screen and (max-width: 630px) {
  .solo-accolade {
    width: 60%;
    height: 75px;
  }
}
